<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>  
      <h1 class="absolute text-3xl font-bold mt-10">
          Hello world!
      </h1>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
